#=================
#do .Net ASP
#=================

/bin/
/obj/
/.vs/
/*.user
/*.suo
/*.log
/logs/
/appsettings.Development.json
/publish/

#=================
#OS
#=================
.DS_Store
Thumbs.db

#=================
#IDE
#=================
.idea/