#=================
#do .Net ASP
#=================

**/bin/
**/obj/
**/.vs/
*.user
*.suo
*.log
**/logs/
**/publish/
**/appsettings.json

#=================
#OS
#=================
.DS_Store
Thumbs.db
appsettings.Development.json
#=================
#IDE
#=================
.idea/


# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

 #Logs
logs
*.log

# Misc
#.DS_Store

# Local env files
.env
.env.*
!.env.example
